$transition-fastest: all .1s ease;
$transition-faster: all .3s ease;
$transition-fast: all .5s ease;
$transition-slow: all 1.5s ease;
$transition-slower: all 3s ease;
$transition-slowest: all 5s ease;
